[Unit]
Description=Gunicorn instance to serve Fundacion Idear Flask Webhook
After=network.target

[Service]
User=nestorfabianriveros2014
Group=www-data
WorkingDirectory=/home/nestorfabianriveros2014/api-fundacion-idear-webhook
ExecStart=/usr/bin/gunicorn --workers 3 --bind 127.0.0.1:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
