[Unit]
Description=Fundacion Idear Flask Webhook
After=network.target

[Service]
User=nestorfabianriveros2014
WorkingDirectory=/home/nestorfabianriveros2014/api-fundacion-idear-webhook
ExecStart=/usr/bin/python3 /home/nestorfabianriveros2014/api-fundacion-idear-webhook/app.py
Restart=always

[Install]
WantedBy=multi-user.target
